@model FrogsNetwork.Forums.ViewModels.ForumPartViewModel


<div><strong>Post Count : @Model.PostCount</strong></div>
<div><string>Reply Count : @Model.ReplyCount</string></div>
<div><string>Thread Count : @Model.ThreadCount</string></div>
<div><string>Threaded Posts : @Model.ThreadedPosts</string></div>