




<form asp-controller="FreelancerProfile" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" method="get" class="form-horizontal no-multisubmit">
    <br/>
    <br/>
    <br />
    <div class="row" style="text-align:center; align-content:center; margin-left:20%; margin-right:20%">
        <div class="col">
            <button class="btn btn-primary" formaction="/CompanyProfile/Index" type="submit">Compnay Profile</button>
        </div>
        <div class="col">
            <button class="btn btn-primary" formaction="/FreelancerSearch/Index" type="submit">Freelancer Search</button>
        </div>
    </div>
    <br />
</form>