@*<a class="navbar-brand" href="~/#">@Site.SiteName</a>*@

<div class="navbar-brand">
    <img src="/Media/Theme/Images/TopLeft.png"
         style="object-fit: contain; max-height:100px; margin-left:75px" />
</div>