<form asp-controller="FreelancerProfile" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" method="get" class="form-horizontal no-multisubmit">
    <br />
    <br />
    <div>
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-3">
                <button class="btn btn-primary" formaction="/FreelancerProfile/Index" type="submit">Basic Profile</button>
            </div>
            <div class="col-3">
                <button class="btn btn-primary" formaction="/Forums" type="submit">Forums</button>
            </div>
            <div class="col-1">
            </div>
        </div>

        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-3">
                <button class="btn btn-primary" formaction="/FreelancerExtended/Index" type="submit">Professional Profile</button>
            </div>
            <div class="col-3">
                <button class="btn btn-primary" formaction="/Blogs" type="submit">Blogs</button>
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>

</form>