@model FrogsNetwork.Forums.ViewModels.ForumPartViewModel


<fieldset>
    <label asp-for="PostCount">Post Count</label>
    <input asp-for="PostCount" readonly="true" class="form-control" />
</fieldset>
