@model FrogsNetwork.Forums.ViewModels.ForumPartViewModel


<div><string>@Model.PostCount</string></div>
<div><string>@Model.ReplyCount</string></div>
<div><string>@Model.ThreadCount</string></div>
<div><string>@Model.ThreadedPosts</string></div>