@model FrogsNetwork.Forums.ViewModels.ForumPartViewModel

<fieldset>
    <label asp-for="ThreadCount">Description</label>
    <input asp-for="ThreadCount" class="form-control" />
</fieldset>

<fieldset>
    <label asp-for="PostCount">Post Count</label>
    <input asp-for="PostCount" class="form-control" />
</fieldset>
